In [2]:
import pandas as pd

# 1.1 import first dataset: university rankings
urank = pd.read_csv("https://raw.githubusercontent.com/caifand/DMRL_THA/master/FinalPaper/0_data_preprocessing/0_raw/cwur.csv")

# check the import
print(urank.head(10))
print(urank.tail(10))
print(list(urank))
print(urank.shape)

   World Rank                            Institution Location  National Rank  \
0           1                     Harvard University      USA              1
1           2                    Stanford University      USA              2
2           3  Massachusetts Institute of Technology      USA              3
3           6      University of California Berkeley      USA              4
4           7                   Princeton University      USA              5
5           8                    Columbia University      USA              6
6           9     California Institute of Technology      USA              7
7          10                  University of Chicago      USA              8
8          11                        Yale University      USA              9
9          13             University of Pennsylvania      USA             10

   Quality of Education Alumni Employment  Quality of Faculty Research Output  \
0                   2.0                 1                 1.0               1
1                  10.0                 3                 2.0              10
2                   3.0                11                 3.0              30
3                   7.0                52                 5.0              18
4                   4.0                15                 4.0             146
5                  16.0                13                 8.0              20
6                   1.0               200                 7.0             127
7                  13.0                22                 9.0              39
8                  11.0                34                12.0              37
9                  31.0                 9                30.0              16

  Quality  Publications Influence Citations  Score
0                     1         1         1  100.0
1                     4         3         2   96.7
2                    15         2         6   95.1
3                    12         4         8   92.5
4                    99        28        27   91.9
5                    14        10        10   91.4
6                    81        13        31   91.0
7                    22        18        10   90.6
8                    19        11        31   90.3
9                    11        17        13   89.7
     World Rank                                    Institution Location  \
203         947                              Howard University      USA
204         962                          University of Memphis      USA
205         963                                 Hunter College      USA
206         973                                Amherst College      USA
207         976                       New York Medical College      USA
208         977  Missouri University of Science and Technology      USA
209         980                Eastern Virginia Medical School      USA
210         981     University of North Carolina at Greensboro      USA
211         993             University of Massachusetts Lowell      USA
212         994                          Loma Linda University      USA

     National Rank  Quality of Education Alumni Employment  \
203            204                 327.0            > 1000
204            205                   NaN               500
205            206                 395.0            > 1000
206            207                  21.0                66
207            208                   NaN            > 1000
208            209                   NaN               392
209            210                   NaN            > 1000
210            211                   NaN            > 1000
211            212                   NaN               930
212            213                 180.0            > 1000

     Quality of Faculty Research Output Quality  Publications Influence  \
203                 NaN          > 1000                > 1000       744
204                 NaN             918                   831       899
205                 NaN          > 1000                   884       702
206                 NaN          > 1000                > 1000       983
207                 NaN          > 1000                   913       719
208                 NaN             916                   827    > 1000
209                 NaN          > 1000                > 1000       792
210                 NaN          > 1000                   938    > 1000
211                 NaN          > 1000                   989    > 1000
212                 NaN          > 1000                   949       890

    Citations  Score
203       541   70.1
204    > 1000   70.0
205       898   70.0
206    > 1000   69.9
207       898   69.9
208    > 1000   69.9
209       327   69.9
210       673   69.9
211       541   69.8
212       898   69.8
['World Rank', 'Institution', 'Location', 'National Rank', 'Quality\xa0of Education', 'Alumni Employment', 'Quality\xa0of Faculty', 'Research Output', 'Quality  Publications', 'Influence', 'Citations', 'Score']
(213, 12)

In [3]:
# 1.2 drop needless columns
cite_rank = urank[['Institution', 'Citations']]

# rename columns
cite_rank.rename(columns={'Institution':'institution',
                    'Citations':'citation'}, 
                 inplace=True)

print(cite_rank.shape)
print(cite_rank.head(5))

(213, 2)
                             institution citation
0                     Harvard University        1
1                    Stanford University        2
2  Massachusetts Institute of Technology        6
3      University of California Berkeley        8
4                   Princeton University       27

c:\users\d\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [4]:
# 1.3 check null values and data types
cite_rank.isna().sum()
cite_rank.dtypes

institution    object
citation       object
dtype: object

In [5]:
# transform data types
#cite_rank['Citations'] = cite_rank['Citations'].astype('int64')
#cite_rank.dtypes

# First I got error message: "ValueError: invalid literal for int() with base 10: '> 1000'"
# This is because some observations have the value of citation indicators as "> 1000", which can not be converted to integer data type

# normalize column values using replace method
cite_rank = cite_rank.replace('> 1000', '1000')

In [6]:
# trasform data type
cite_rank['citation'] = cite_rank['citation'].astype('int64')
cite_rank.dtypes

institution    object
citation        int64
dtype: object

In [7]:
# 2.1 import the second dataset: open access repositories
oa_repo = pd.read_csv('https://raw.githubusercontent.com/caifand/DMRL_THA/master/FinalPaper/0_data_preprocessing/0_raw/doar.csv')

print(oa_repo.head(5))
print(oa_repo.shape)

   repositoryid                              preferred_name  \
0           382  11th Joint Symposium on Neural Computation
1          3428          ACHS, Theses and Capstone Projects
2          4464                                        ARCH
3          2590                      ASU Digital Repository
4          3015                                      AUrora

                                           name_name  \
0         11th Joint Symposium on Neural Computation
1  American College of Healthcare Sciences, These...
2                                               ARCH
3                             ASU Digital Repository
4             Auburn University Scholarly Repository

                         name_acronym name_preferred name_language  \
0                                 NaN           name            en
1  ACHS, Theses and Capstone Projects        acronym            en
2                                 NaN           name            en
3                                 NaN           name            en
4                              AUrora        acronym            en

  identifiers_type  identifiers_identifier           type  \
0              NaN                     NaN   disciplinary
1              NaN                     NaN  institutional
2              NaN                     NaN  institutional
3             core                  3871.0  institutional
4              NaN                     NaN  institutional

                status  ... org_contacts_name.lineage  \
0             accepted  ...                       NaN
1  partially_processed  ...                       NaN
2             accepted  ...                       NaN
3             accepted  ...                       NaN
4  partially_processed  ...                       NaN

  org_contacts_name.honourific org_contacts_job_title  \
0                          NaN     Site Administrator
1                          NaN                    NaN
2                          NaN                  Admin
3                          NaN          Administrator
4                          NaN          Administrator

                    org_contacts_email browse_public rev_number  \
0             coda@library.caltech.edu             1          3
1                                  NaN             1          4
2  digitalscholarship@northwestern.edu             1          4
3                susan.barrett@asu.edu             1          4
4                   trehuaj@auburn.edu             1          4

                            dir    date_modified      date_created  \
0  disk0/repository/00/00/03/82  3/16/2018 12:02    8/3/2006 10:10
1  disk0/repository/00/00/34/28  4/17/2018 12:29   7/21/2015 10:20
2  disk0/repository/00/00/44/64  3/19/2019 11:15   3/19/2019 11:13
3  disk0/repository/00/00/25/90  3/21/2018 11:40  11/12/2012 15:33
4  disk0/repository/00/00/30/15  4/17/2018 12:29   3/27/2014 11:00

  date_created_month_year
0                 2006-08
1                 2015-07
2                 2019-03
3                 2012-11
4                 2014-03

[5 rows x 55 columns]
(575, 55)

In [8]:
# 2.2 truncate needless columns

# check columns and missing values
oa_repo.isna().sum()

repositoryid                      0
preferred_name                    0
name_name                         0
name_acronym                    463
name_preferred                    2
name_language                     2
identifiers_type                373
identifiers_identifier          373
type                              0
status                            0
repository_status                 0
description                       2
public_notes                    433
private_notes                   332
publicly_visible                  0
repository_url                    0
oai_url                         281
software_name                    88
software_version                455
software_name_other             375
year_established                503
content_languages                 1
content_types                     0
content_subjects                  0
metadata_record_count            81
full_text_record_count          373
count_source                    427
preferred_org_name                0
org_name_name                     0
org_name_acronym                390
org_name_preferred                1
org_name_language                 1
preferred_org_unit_name         360
org_unit_name_name              360
org_unit_name_acronym           555
org_unit_name_preferred         360
org_unit_name_language          359
org_url                           0
org_unit_url                    420
org_country                       0
org_country_browse                0
org_location_latitude            35
org_location_longitude           35
org_contacts_name.family        258
org_contacts_name.given         258
org_contacts_name.lineage       575
org_contacts_name.honourific    574
org_contacts_job_title          158
org_contacts_email              134
browse_public                     0
rev_number                        0
dir                               0
date_modified                     0
date_created                      0
date_created_month_year           0
dtype: int64

In [9]:
# only keep needed columns
oa_repo = oa_repo[['preferred_name', 'year_established', 'preferred_org_name', 'date_created']]
print(oa_repo.head(5))

                               preferred_name  year_established  \
0  11th Joint Symposium on Neural Computation               NaN
1          ACHS, Theses and Capstone Projects               NaN
2                                        ARCH               NaN
3                      ASU Digital Repository               NaN
4                                      AUrora               NaN

                        preferred_org_name      date_created
0       California Institute of Technology    8/3/2006 10:10
1  American College of Healthcare Sciences   7/21/2015 10:20
2                  Northwestern University   3/19/2019 11:13
3                 Arizona State University  11/12/2012 15:33
4                        Auburn University   3/27/2014 11:00

In [10]:
# 2.3 Deal with missing values

# get needed data format
oa_repo.dtypes
oa_repo['date_created'] = oa_repo['date_created'].astype('datetime64')
oa_repo['date'] = pd.DatetimeIndex(oa_repo['date_created']).year

In [11]:
# replace missing values in 'year_established' column with corresponding values in 'date' column
oa_repo.year_established.fillna(oa_repo.date, inplace=True)

print(oa_repo.head(5))

                               preferred_name  year_established  \
0  11th Joint Symposium on Neural Computation            2006.0
1          ACHS, Theses and Capstone Projects            2015.0
2                                        ARCH            2019.0
3                      ASU Digital Repository            2012.0
4                                      AUrora            2014.0

                        preferred_org_name        date_created  date
0       California Institute of Technology 2006-08-03 10:10:00  2006
1  American College of Healthcare Sciences 2015-07-21 10:20:00  2015
2                  Northwestern University 2019-03-19 11:13:00  2019
3                 Arizona State University 2012-11-12 15:33:00  2012
4                        Auburn University 2014-03-27 11:00:00  2014

In [12]:
# 2.4 Add new values

# calculate the age of the OA repositories

oa_repo['age'] = 2019 - oa_repo['year_established']
print(oa_repo.head(5))

                               preferred_name  year_established  \
0  11th Joint Symposium on Neural Computation            2006.0
1          ACHS, Theses and Capstone Projects            2015.0
2                                        ARCH            2019.0
3                      ASU Digital Repository            2012.0
4                                      AUrora            2014.0

                        preferred_org_name        date_created  date   age
0       California Institute of Technology 2006-08-03 10:10:00  2006  13.0
1  American College of Healthcare Sciences 2015-07-21 10:20:00  2015   4.0
2                  Northwestern University 2019-03-19 11:13:00  2019   0.0
3                 Arizona State University 2012-11-12 15:33:00  2012   7.0
4                        Auburn University 2014-03-27 11:00:00  2014   5.0

In [13]:
# only keep needed columns
oa_repo = oa_repo[['preferred_org_name', 'age']]
oa_repo.rename(columns={'preferred_org_name':'institution',
                    'age':'repo_age'}, 
                 inplace=True)
print(oa_repo.head(5))

                               institution  repo_age
0       California Institute of Technology      13.0
1  American College of Healthcare Sciences       4.0
2                  Northwestern University       0.0
3                 Arizona State University       7.0
4                        Auburn University       5.0

In [14]:
# 3.1 import the third dataset: open access mandates and policies

oap = pd.read_csv("https://raw.githubusercontent.com/caifand/DMRL_THA/master/FinalPaper/0_data_preprocessing/0_raw/roarmap.csv")

print(oap.shape)
oap.isna().sum()

(124, 53)

Unnamed: 0                     0
added_by                      12
apc_fun_url                   98
apc_funding                    0
can_deposit_be_waived          0
country                        0
country_inclusive              0
country_names                  0
creators                     123
date                         123
date_made_open                 0
date_of_deposit                0
datestamp                      0
deposit_of_item                0
dir                            0
documents                    123
embargo_hum_soc                0
embargo_sci_tech_med           0
eprint_status                  0
eprintid                       0
gold_oa_options                0
iliege_hefce_model             0
journal_article_version        0
last_revision                106
lastmod                        0
locus_of_deposit               0
making_deposit_open            0
mandate_content_types          0
maximal_embargo_waivable       0
metadata_visibility            0
open_access_waivable           0
open_licensing_conditions      0
policy_adoption               13
policy_colour                 23
policy_comments               29
policy_effecive               83
policy_url                    13
policymaker_name               0
policymaker_type               0
policymaker_url                1
repository_url                25
research_process_comments     82
rev_number                     0
rights_holding                 0
rights_retention_waivable      0
source_of_policy               0
status_changed                 0
succeeds                     123
title                          0
type                           0
uri                            0
userid                         0
waive_open_access              0
dtype: int64

In [15]:
# 3.2 Drop needless columns

oap = oap[['policymaker_name', 'policy_adoption', 'policy_effecive']]
print(oap.head(5))

                     policymaker_name policy_adoption policy_effecive
0        Abilene Christian University         2017-05             NaN
1                   Allegheny College       2/18/2013        5/1/2013
2                     Amherst College        3/5/2013             NaN
3  Arizona State University Libraries      10/20/2010             NaN
4                       Autism Speaks             NaN       12/3/2008

In [16]:
# 3.3 Deal with missing values
# transform data types
oap['policy_effecive'] = oap['policy_effecive'].astype('datetime64')
oap['policy_adoption'] = oap['policy_adoption'].astype('datetime64')
oap.dtypes

policymaker_name            object
policy_adoption     datetime64[ns]
policy_effecive     datetime64[ns]
dtype: object

In [17]:
# replace missing values

oap['policy_effecive'].fillna(oap['policy_adoption'], inplace=True)

oap['year_effective'] = pd.DatetimeIndex(oap['policy_effecive']).year
print(oap.head(5))

                     policymaker_name policy_adoption policy_effecive  \
0        Abilene Christian University      2017-05-01      2017-05-01
1                   Allegheny College      2013-02-18      2013-05-01
2                     Amherst College      2013-03-05      2013-03-05
3  Arizona State University Libraries      2010-10-20      2010-10-20
4                       Autism Speaks             NaT      2008-12-03

   year_effective
0          2017.0
1          2013.0
2          2013.0
3          2010.0
4          2008.0

In [18]:
#oap.isna().sum()
# 3.4 Calculate new variable values

oap['effective_year'] = 2019 - oap['year_effective']
print(oap.head(5))

                     policymaker_name policy_adoption policy_effecive  \
0        Abilene Christian University      2017-05-01      2017-05-01
1                   Allegheny College      2013-02-18      2013-05-01
2                     Amherst College      2013-03-05      2013-03-05
3  Arizona State University Libraries      2010-10-20      2010-10-20
4                       Autism Speaks             NaT      2008-12-03

   year_effective  effective_year
0          2017.0             2.0
1          2013.0             6.0
2          2013.0             6.0
3          2010.0             9.0
4          2008.0            11.0

In [19]:
# truncate useless columns
oap = oap[['policymaker_name', 'effective_year']]
oap.rename(columns={'policymaker_name':'institution',
                    'effective_year':'policy_year'}, 
                 inplace=True)
print(oap.head(5))

                          institution  policy_year
0        Abilene Christian University          2.0
1                   Allegheny College          6.0
2                     Amherst College          6.0
3  Arizona State University Libraries          9.0
4                       Autism Speaks         11.0

In [20]:
# 4.1 merge datasets
# merge cite_rank & oa_repo
cite_repo = cite_rank.merge(oa_repo, on='institution', how='inner')
cite_repo

                                           institution  citation  repo_age
0                                   Harvard University         1      10.0
1                                   Harvard University         1       5.0
2                                   Harvard University         1      13.0
3                Massachusetts Institute of Technology         6      13.0
4                                 Princeton University        27       4.0
5                                  Columbia University        10      11.0
6                                  Columbia University        10      14.0
7                   California Institute of Technology        31      13.0
8                   California Institute of Technology        31      13.0
9                   California Institute of Technology        31      13.0
10                  California Institute of Technology        31      13.0
11                  California Institute of Technology        31      13.0
12                  California Institute of Technology        31      13.0
13                  California Institute of Technology        31      23.0
14                  California Institute of Technology        31       7.0
15                  California Institute of Technology        31      11.0
16                               University of Chicago        10      11.0
17                               University of Chicago        10      13.0
18                                     Yale University        31       8.0
19                                     Yale University        31      17.0
20                                     Yale University        31      17.0
21                          University of Pennsylvania        13      25.0
22                          University of Pennsylvania        13      15.0
23                                  Cornell University        40      13.0
24                                  Cornell University        40      17.0
25                                  Cornell University        40      28.0
26                                  Cornell University        40      14.0
27                University of California Los Angeles         5      13.0
28                University of California Los Angeles         5      17.0
29                            Johns Hopkins University         3      11.0
..                                                 ...       ...       ...
174                       Mississippi State University       673      11.0
175                 University of Texas at San Antonio       673      13.0
176                                University of Idaho       460       7.0
177                                University of Idaho       460       6.0
178                         University of Rhode Island       541      13.0
179                       Northern Illinois University       327       7.0
180                     University of Nevada Las Vegas       898       9.0
181                     University of Nevada Las Vegas       898       9.0
182                   Illinois Institute of Technology       541       4.0
183                                   Miami University       541      11.0
184                            Old Dominion University       541       0.0
185              University of Texas Rio Grande Valley       405       0.0
186                               University of Toledo       898       2.0
187                          Portland State University       673       4.0
188  Uniformed Services University of the Health Sc...      1000       4.0
189                               University of Denver       673       6.0
190                               University of Denver       673       8.0
191                           East Carolina University       898       7.0
192                              Binghamton University       898       2.0
193                                Wesleyan University       898      13.0
194                                Wesleyan University       898      10.0
195                        Northern Arizona University       541      13.0
196                        Northern Arizona University       541      13.0
197                        Northern Arizona University       541       2.0
198                    Florida Institute of Technology       327       5.0
199                      North Dakota State University       898       8.0
200                  Rochester Institute of Technology       541      13.0
201                  Rochester Institute of Technology       541       5.0
202                                  Howard University       541       3.0
203      Missouri University of Science and Technology      1000      11.0

[204 rows x 3 columns]

In [21]:
# group by insitution and sort out the first entry within each group
cite_repo = cite_repo.groupby('institution', as_index=False)
cite_repo = cite_repo.first()

In [22]:
# merge the third dataset oap
repo_p = cite_repo.merge(oap, on='institution', how='inner')
repo_p

                              institution  citation  repo_age  policy_year
0                       Boston University        26      13.0          4.0
1      California Institute of Technology        31      13.0          5.0
2                      Cornell University        40      13.0         14.0
3                         Duke University        14      11.0          9.0
4                        Emory University        63       3.0          8.0
5                Florida State University       139      11.0          3.0
6         Georgia Institute of Technology       222      13.0          6.0
7   Massachusetts Institute of Technology         6      13.0         10.0
8            Northern Illinois University       327       7.0          5.0
9                 Oregon State University       187      15.0          6.0
10                   Princeton University        27       4.0          8.0
11                        Rice University       108      20.0          7.0
12         University of Colorado Boulder        59       3.0          5.0
13                 University of Delaware       405      15.0          4.0
14                   University of Kansas       121      13.0         10.0
15                 University of Kentucky       200       7.0          NaN
16    University of Massachusetts Amherst       121       9.0          3.0
17             University of Pennsylvania        13      25.0          8.0
18             University of Rhode Island       541      13.0          6.0
19                 University of Virginia        85       6.0          9.0
20                  Utah State University       363      10.0          7.0

In [23]:
#repo_p.isna().sum()
repo_p.dropna()
#print(repo_p)

                              institution  citation  repo_age  policy_year
0                       Boston University        26      13.0          4.0
1      California Institute of Technology        31      13.0          5.0
2                      Cornell University        40      13.0         14.0
3                         Duke University        14      11.0          9.0
4                        Emory University        63       3.0          8.0
5                Florida State University       139      11.0          3.0
6         Georgia Institute of Technology       222      13.0          6.0
7   Massachusetts Institute of Technology         6      13.0         10.0
8            Northern Illinois University       327       7.0          5.0
9                 Oregon State University       187      15.0          6.0
10                   Princeton University        27       4.0          8.0
11                        Rice University       108      20.0          7.0
12         University of Colorado Boulder        59       3.0          5.0
13                 University of Delaware       405      15.0          4.0
14                   University of Kansas       121      13.0         10.0
16    University of Massachusetts Amherst       121       9.0          3.0
17             University of Pennsylvania        13      25.0          8.0
18             University of Rhode Island       541      13.0          6.0
19                 University of Virginia        85       6.0          9.0
20                  Utah State University       363      10.0          7.0

In [24]:
# 5.1 export intermediate data 
repo_p.to_csv("repo_p.csv", index=False)